// artifact browser specific CSS

ul.artifact-browser.arrow-right {
  list-style-type: '\25B6'; // BLACK RIGHT-POINTING TRIANGLE
  
}

ul.artifact-browser.arrow-down {
  list-style-type: '\25BC'; // BLACK DOWN-POINTING TRIANGLE
}

.token.keyword {
  display: unset;
}

.log-viewer {
  overflow: auto;
  height: 400px;
}

.log-even {
  background: lightgrey;
}

.caret {
  cursor: pointer;
  user-select: none;
}
