// artifact browser specific CSS

ul.artifact-browser {
//  padding-left: 2rem;
  list-style-type: none;
}

ul.artifact-browser li {
  padding-left: 2rem;
}

.artifact-browser-text {
	padding-left: 0.25rem;
}
